.button{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "Arial bold";
    -fx-font-size:13px;
}

.button:hover{
    -fx-underline: true;
    -fx-cursor: hand;
}

