.text-area {
    -fx-background-color: #a9a9a9 , gold , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 2 -1;
     -fx-font-size: 12pt;
         -fx-font-family: "Segoe UI Semibold";

}

.text-area:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 10 -1;
}

